p{
  color: pink;
  text-align: center;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
}

h3{
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
h1{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

div{
  background-color: pink;
  color: black;
  width: 500px;
  border: 17px solid rgb(10, 1, 95);
  padding: 50px;
  margin: 50px;
  text-align: center;
}
h2.outset {border-style: outset;}
h2.inset {border-style: inset;}
h2.mix {border-style: dotted dashed solid double;}
img{
    float: left; 
}
h4{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: right;
}
body{
  background-color: rgb(158, 247, 217);
}